@page
@model JobApp_Web_.Areas.Identity.Pages.Account.Register_EmployerModel
@{
    ViewData["Title"] = "Register_Employer";

}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account for Employer.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Company_name"></label>
                <input asp-for="Input.Company_name" class="form-control" />
                <span asp-validation-for="Input.Company_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Company_background"></label>
                <input asp-for="Input.Company_background" class="form-control" />
                <span asp-validation-for="Input.Company_background" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Campany_contact_number"></label>
                <input asp-for="Input.Campany_contact_number" class="form-control" />
                <span asp-validation-for="Input.Campany_contact_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Industry_type"></label>
                <input asp-for="Input.Industry_type" class="form-control" />
                <span asp-validation-for="Input.Industry_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Workforce_number"></label>
                <input asp-for="Input.Workforce_number" class="form-control" />
                <span asp-validation-for="Input.Workforce_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
