@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
      
        <h1 class="display-4">Welcome to JobApp</h1>
        <h4 class="display-1">Helping You To Find The Best Employment Oppertunities</h4>

    </div>

